body
{
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Jacquard 24", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
    color: var(--lightorange);
    z-index: -9;
}

.board
{
    width: min(70vw, 70vh);
}

.main_board
{
    z-index: 9;
    margin: auto;
    position: absolute;
}

.blur_board
{
    position: absolute;
    opacity: .8;
}

.blur_board_l1
{
    filter: blur(20vw);
    -webkit-filter: blur(20vw);
    z-index: 0;
}

.blur_board_l2
{
    filter: blur(10vw);
    -webkit-filter: blur(5vw);
    z-index: 1;
}

.blur_board_l3
{
    filter: blur(3vw);
    -webkit-filter: blur(1vw);
    z-index: 2;
}

.piece-417db
{
    z-index: 99999;
}

.altruism_bar
{
    z-index: 99;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50vh - min(70vh, 70vw) / 2 - min(80vw, 80vh) * 0.15);
    width: min(80vw, 80vh);
}

.help
{
    font-family: "Jacquard 24", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(5*min(1vh, 1vw));
    position: absolute;
    background-color: #FF8A00;
    border: calc(0.5 * min(1vh, 1vw)) solid black;
    border-radius: min(1vw, 1vh);
    bottom: calc(50vh - min(70vh, 70vw) / 2 - min(80vw, 80vh) * 0.15);
    height: calc(7*min(1vw, 1vh));
    padding-inline: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    transition: 300ms;
    cursor: pointer;
}

.help:hover
{
    background-color: #8d4b00;
}

b
{
    font-weight: 500;
}

.lightning
{
    position: absolute;
    top: calc(50vh - min(70vh, 70vw) / 2 - min(80vw, 80vh) * 0.15);
    height: calc(min(80vw, 80vh) * 0.13);
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    transition: 1000ms;
}