<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap" rel="stylesheet">

    <link href="/static/img/NTF Chess Logo.png" rel="icon">
    <link href="/static/reset.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">

    <title>{% block title %} NTF Chess {% endblock %}</title>

</head>

<body>
    <div class="main_container">

        <div class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar">

                    <div class="navbar me-auto mt-2">
                        <a class="nav-link" href="/auth/login">Login</a>
                        <a class="nav-link" href="/auth/register">Register</a>
                    </div>
                    {% if session["user_id"] %}
                    <a class="logout-link" href="/auth/logout">Log Out</a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if get_flashed_messages() %}
        <header>
            <div class="mb-3">
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </div>
        </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>

</body>

</html>
