<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/NTF Chess Logo.png') }}">
    <title>NTF Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessboard-1.0.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="container">
        <div id="myBoard" class="board main_board"></div>
        <img src="static/img/chessboard.png'" class="board blur_board blur_board_l1">
        <img src="static/img/chessboard.png" class="board blur_board blur_board_l2">
        <img src="static/img/chessboard.png" class="board blur_board blur_board_l3">
    </div>
    <img src="{{ url_for('static', filename='img/altruism-bar.png') }}" class="altruism_bar">
    <img src="{{ url_for('static', filename='img/lightning.png') }}" class="lightning" id="lightning">
    <button class="help_btn btn" id="help_btn"><b>?</b> How to Play</button>
    <button class="login_btn btn" id="login_btn">Log In</button>

    <div id="help-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="title"><span class="text-hover">How to Play</span></h2>
            <p class="clear-text"><span class="text-hover">NTF Chess is a variant of chess where altruistic actions are
                    rewarded in-game.</span></p>
            <p class="clear-text"><span class="text-hover">Each piece has the same movement as in standard chess. The
                    game ends
                    when one player captures the other player's king, and the altruism points accumulated by players,
                    which are shown by the Altruism Bar, are counted.</span></p>
            <br>
            <ul>
                <li class="clear-text"><span class="text-hover">The game starts with 0 altruism points for both
                        players.</span></li>
                <li class="clear-text"><span class="text-hover">There should be some other notes here.</span></li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='chessboard-1.0.0.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"
        integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        // var socket = io();
        // var roomName = prompt('Enter a room name:');
        // console.log(socket.emit('join_game', { room: roomName}))

        // socket.on('player_joined', function(data) {
        //     console.log('Player joined:', data);
        // });

        // socket.on('connect', function() {
        //     socket.emit('message', { message:'I\'m connected!'});
        // });
    </script>
</body>

</html>
